<div class="admin-content white_content" id="light_edit">
    <div class="admin-content-body">
        <div class="am-g">
            <form class="am-form am-form-horizontal" method="post" style="padding-top:30px;" data-am-validator="" action="/edit">
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">
							用户名 </label>
                    <div class="am-u-sm-9">
                        <input type="text" id="doc-new-name-1" required="" name="username" vaule="" readonly> <small></small>
                    </div>
                </div>
                <div class="am-form-group">
                    <label for="user-name" class="am-u-sm-3 am-form-label">
								密码</label>
                    <div class="am-u-sm-9">
                        <input type="password" id="doc-new-pwd-1" required="" placeholder="请输入新密码" name="pwd"> <small>输入新密码。</small>
                    </div>
                </div>
                <div class="am-form-group">
                    <div class="am-u-sm-9 am-u-sm-push-3">
                        <input type="submit" class="am-btn am-btn-success" style="left: 5%;" value="确定">
                        <label style="padding: 10%;"></label>
                        <input type="button" class="am-btn am-btn-default" value="取消" onclick="toggleFade('edit')">
                    </div>
                    <div class="am-u-sm-9 am-u-sm-push-3">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<div id="fade_edit" class="black_overlay"></div>